body{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #453643;
}
*{
    box-sizing: border-box;
}

header,footer{
    margin: 28px;
}
main{
    margin: 40px auto;
    padding: 10px;
}

h1,h3,footer,p {
    color: #9A8A84;
}
h1,h2,h3,p{
    margin: 0px;
}
h2{
    font-weight: lighter;
    font-size: 20px;
    color:  #f8f6f5ca;
}

.main-container{
    width: 600px;
}
.recipe-container{
    width: 950px;
    border-radius: 2px;
}
.recipe-info{
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    margin: 10px;
}

/* Main Page List Styling */
.main-list{
    padding: 0px;
    list-style-type: none;
}
.main-list-item{
    margin-bottom: 20px;
    padding: 10px;
    
}
.main-list-item > p{ 
    padding: 3px;
    height: 150px;
    text-align: justify;
}
.description{
    font-size: 18px;
}

/* Recipe Page List Styling */
.ingredients-list{
    width: 200px;
    list-style-position: inside;
    padding: 0px 5px;
}
.steps-list{
    width: 600px;
    padding: 0px 40px;
    text-align: justify;
}
.steps-list > li{
    padding: 10px;
}
.ingredients-list > li{
    margin-right: 10px;
    padding: 10px;
}
.ingredients-list, .steps-list{
    font-size: 18px;
    color: #9A8A84;
}
.recipe-img{
    width: 600px;
    height: 400px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.main-list-item, .recipe-info{
    border-bottom: 1px solid #f8f6f534;
}
.ingredients-list,.steps-list{
    border-top: 1px solid #f8f6f534;
}

.main-list-item, .recipe-container{
    background-color: #9a8a8425;
    box-shadow: 0px 0px 10px 2px #9a8a8425;
}

/* Links Styling and Behaviour */
a{
    text-decoration: none;
    color: #f8f6f5ad;
}
.main-links{
    font-size: 26px;
    font-weight: bold;

    background-color: #453643;;
} 
a:hover{
    background-color: #9A8A84;
}
.main-links:hover {
    font-size: 30px;
}

.main-link-img{ 
    height: 100%;
    width: 150px;
    float: left;
    margin-right: 10px; 
    border-radius: 50%;
    border: 2px solid #9A8A84;
}
.main-link-img:hover{
    border: 0px;
    filter: blur(0.8px);
}

 