body{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #453643;
   
}
*{
    box-sizing: border-box;
}
h1,h3,footer,p {
    color: #9A8A84;
}
h1,h2,h3,p{
    margin: 0px;
}
h2{
    font-weight: lighter;
    font-size: 20px;
    color:  #f8f6f5ca;
}
header,footer{
    margin: 40px;
}
main{
    margin: 60px auto;
    width: 600px ;
 }

ul{
    padding: 0;
    list-style-type: none;
}
li{
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #f8f6f534;
    box-shadow: 0px 0px 10px 2px #9a8a8425; 
    background-color: #9a8a8434;
}
p{ 
    padding: 3px;
    height: 150px;
    text-align: justify;
}
.description{
    font-size: 18px;
 }
a{
    text-decoration: none;
    color: #f8f6f5ad;
}

a.recipe-links{
    font-size: 26px;
    font-weight: bold;
    color: #f8f6f5ad;
    text-decoration: none;
    background-color:  #453643;;
} 
a:hover{
    background-color: #9A8A84;
}
.recipe-links:hover {
    font-size: 30px;
}

.recipe-links>img{ 
    height: 100%;
    width: 150px;
    float: left;
    margin-right: 10px; 
    border-radius: 50%;
    border: 2px solid #9A8A84;
 }
.recipe-links>img:hover{
    border: 0px;
    filter: blur(0.8px);
 }

 